@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17 24 39;
  --background-rgb: 255, 255, 255;
  --toast-bg: #338046;
  --toast-text: #fffcfc;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17 24 39;
  --toast-bg: #1f2937;
  --toast-text: #fff;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  transition: color 0.3s, background-color 0.3s;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes heartBeat {
    0% { transform: scale(1); }
    25% { transform: scale(1.1); }
    50% { transform: scale(1); }
    75% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.animate-heartBeat {
    animation: heartBeat 0.5s ease-in-out;
}

.single-line-ellipsis {
  white-space: nowrap;       /* Prevent text from wrapping */
  overflow: hidden;          /* Hide overflowing text */
  text-overflow: ellipsis;   /* Add "..." */
}

@keyframes gradient-x {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 3s ease infinite;
}