@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17 24 39;
  --background-rgb: 255, 255, 255;
  --toast-bg: #fff;
  --toast-text: #333;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17 24 39;
  --toast-bg: #1f2937;
  --toast-text: #fff;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  transition: color 0.3s, background-color 0.3s;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}